.listRequestPayments {
  display: flex;
  width: 100%;

  .tableRequestPaymentsName {
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
    text-align: center;
  }

  .listRequestPaymentsContainer {
    flex: 6;
  }
  .tableRequestPaymentsContainer {
    padding: 0 20px;
    .ant-pagination {
      align-items: center;
      justify-content: center;
    }
  }
}
