.listTeacher {
    display: flex;
    width: 100%;

    .tableTeachersName {
        font-size: 30px;
        font-weight: 600;
        margin: 20px;
        text-align: center;
    }

    .listTeacherContainer {
        flex: 6;
    }
}